.container{
    font-family: 'Poppins', sans-serif;
    background: #F5F5F5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.weather {
    position: absolute;
    top: 20px;
    left: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
}
.icon{
    width: 2rem;
    margin-right: 10px;
}

.card {
    background: #7F58AF;
    color: white;
    padding: 40px;
    border-radius: 30px;
    max-width: 400px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.image.b{
    position: absolute;
}

.card h1{
    margin-bottom: 2rem;
    text-align: center;
}

.espai_emoticones{
    margin-top: 2.5rem;
}

.btn{
    background: #fbca28;
    color: black;
    padding: 10px 20px;
    border: solid 1px black;
    border-radius: 10px;
    margin-top: 2rem;
    cursor: pointer;
}

.btn_ratting{
    cursor: pointer;
    border: none;
    background: none;
}

.image{
    width: 2rem;
}



